*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    
}
body {
    background: var(--bg-color);
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;

}
.container {
    text-align:center;
    width: 300px;
    margin: 60px auto;

}

img {
    width: 100px;
    border-radius: 50%;
    height: 100px;
    border: #4263eb solid 3.7px;

}

h1 {
    margin-top: 24px;
    margin-bottom: 8px;
    font-size: 32px;
    
}

ul {
    list-style: none;
    margin: 48px;
}



p {
    font-family: 'roboto mono', monospace;
    font-weight: 400px;
    opacity: 0.8;
    font-size: 18px;
}

ul li a {
    height: 55px;
    display: flex;
    align-items: center;
    justify-content:center ;
    background-color: #4263eb; /* hex: 0 - f */
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 16px;
    border-radius: 6px;
    transition: background 400ms;
}

ul li a:hover {
background: #364fc7;

}

html {
    /*variaveis*/
    --bg-color:#edf2ff;
    --text-color: #00082f;
}

body.dark {
    --bg-color: #00082f;
    --text-color: white;
    
}
footer {
    font-weight: 500;
    font-size: 12px;
    opacity: 0.6;
    transition: opacity 400ms;
}

footer a {
    color: var(--text-color)
}

footer:hover {
    opacity: 1;
}